.header {
    position: relative;
    height: 105px;
    background-color: #fff;

    .logo {
        height: 59px;
        padding: 20px 16px 23px 20px;
        font-size: 27px;
        font-weight: 900;
        min-width: 170px;
    }

    .extra {
        float: right
    }

    .breadcrumbs-container {
        width: 100%;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        .breadcrumbs {
            background: transparent;
            border: 0;
        }
    }
}
